# Development environment buildout.
#
# 

[buildout]
eggs-directory = /home/alex/.buildout/eggs
download-cache = /home/alex/.buildout/downloads
extends-cache = /home/alex/.buildout/extends

parts = 
    instance
    test
    coverage-report
    omelette
    zopepy
    zopeskel
    checkversions
    mkrelease

extends = 
    packages.cfg

always-checkout = force

#Development zope instance, installs the ''bin/instance'' script
[instance]
recipe = plone.recipe.zope2instance
http-addres= 8080
user = admin:admin
verbose-security = on
eggs =
    ${eggs:main}
    ${eggs:devtools}

#Test runner
[test]
recipe = zc.recipe.testrunner
eggs = ${eggs:test}
defaults = ['--auto-color', '--auto-progress']

##Coverage report generator
# Run ''bin/test --coverage=coverage
# and then ''bin/coveragereport''
[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coveragereport
arguments = ('parts/test/coverage', 'coverage')

# Installs links and linked packages to ''parts/omelette''
[omelette]
recipe = collective.recipe.omelette
eggs = 
    ${eggs:main}
    ${eggs:devtools}
#Installs ''bin/zopepy''
[zopepy]
recipe = zc.recipe.egg
eggs =
    ${eggs:main}
    ${eggs:devtools}
interpreter = zopepy

## Installs ZopeSkel used to create new packages
## Run ''bin/zopeskel''
[zopeskel]
recipe = zc.recipe.egg
eggs = ZopeSkel

#A tool to check for new versions
[checkversions]
recipe = zc.recipe.egg
eggs = z3c.checkversions [buildout]

##Tool to make releases
[mkrelease]
recipe = zc.recipe.egg
eggs = jarn.mkrelease